<nav th:fragment="nav" class="col-md-2 d-none d-md-block bg-light sidebar" xmlns:th="">
    <div class="sidebar-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" th:href="@{/admin}">
                    <span data-feather="home"></span>
                    Пользователи <span class="sr-only"></span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/admin/orders}">
                    <span data-feather="file"></span>
                    Заказы
                </a>
            </li>
        </ul>
    </div>
</nav>
